*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.gradle/
gradle/
.idea/
*.gradle
*.data
*.store
keystore
saleinfo
gradlew
*.bat
*.imi
*.iml
LOL_Update_Pusher/build/
LOL_Update_Pusher/libs/
out/
*.mid
*.txt
*.zip
*.html
GoogleAdMobAdsSdkAndroid-6.4.1/docs/
